<link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.min.css">


{% block title %}<h1>Bienvenue sur la page de mes formulaires!!</h1>{% endblock %}
{% block body %}

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="/enfant/create"><button type="button" class="btn btn-primary">Enfant</button>
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/famille/create"> <button type="button" class="btn btn-warning"> Famille</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/personneresponsable/create"><button type="button" class="btn btn-success">Personne Responsable</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dossiermedical/create"><button type="button" class="btn btn-info">Dossier Médical</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dossierscolaire/create"><button type="button" class="btn btn-light">Dossier Scolaire</button></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href=" /dossierstage/create"><button type="button" class="btn btn-primary">Dossier Stage</button></a>
                </li>
            </ul>
                        
    </nav>

            <h1> Création d'un entité</h1>
                {{form_start(formDossierstage)}}

                {{form_widget(formDossierstage)}}

               

                {{form_end(formDossierstage)}}


{% endblock %}
